@charset "UTF-8";

body {
  background-color: rgb(248, 248, 248);
}
h1#menu-gallery {
  text-align: center;
  padding-top: 10px;
}
div.gallery {
  padding: 0 1em;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 20px;
}
div.gallery-item {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}
div.gallery-item > img[src] {
  width: 90%;
  border-radius: 10px;
}
div.gallery-content > div.galler-title {
  font-weight: 700;
  padding: 5px 0;
}
div.gallery-content > div.gallery-describe {
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  text-indent: 4px; /* 들여쓰기 */
}
