<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
</head>
<body>
<div class="container py-4">
    <h1 class="text-center my-3">Post Detail</h1>
    <div class="text-center my-3">
        [<a href="/posts/form">글쓰기</a>]
        [<a href="/posts">글목록</a>]
    </div>
    <div class="post-detail">
        <h2 th:text="${dto.title}" >제목</h2>
        <div class="px-3" style="display:flex;justify-content: space-between">
            <span th:text="${dto.name}">작성자</span>
            <span th:text="${#temporals.format(dto.wdate, 'yyyy-MM-dd HH:mm:ss')}">작성일</span>
        </div>
        <hr>
        <div class="postImage">
            <img th:src="${dto.attach==null}? @{/uploads/noimage.png}:@{'/uploads/'+${dto.attach}}" th:alt="${dto.attach}">
        <!--파일 업로드: D:/devSource/Spring/uploads  경로와 웹에서 참조할 경로를 매핑
                   ==> WebConfig클래스에서
                   -->
        </div>
        <div class="postContent">
            <pre th:text="${dto.content}">
                글내용
            </pre>
        </div>
        <div class="postBtn d-flex justify-content-center">
            <button class="btn btn-success" onclick="goEdit()">수정하기</button>
            <button class="btn btn-warning" onclick="goDel()">삭제하기</button>
        </div>
    </div>
<!--     댓글 목록/ 댓글 입력폼-->

<!--    수정 form-->
<form name="editFrm" method="post">
<!--    form태그로 전송시에는 method  에 delete, put, 기술해도 적용되지 않음-->
    <input type="hidden" name="id" th:value="${dto.id}">
    <input type="hidden" name="attach" th:value="${dto.attach}">
</form>
<!--    삭제 form-->
<form name="delFrm" method="post">
    <input type="hidden" name="id" th:value="${dto.id}">
</form>
</div>
<script>
    function goEdit(){
        editFrm.action='/posts/edit';
        editFrm.method='post';
        editFrm.submit();
    }
    function goDel(){
        const yn=confirm('정말 삭제할까요?')
        if(!yn) return;
        delFrm.action='/posts/delete';
        delFrm.method='post';
        delFrm.submit();
    }
</script>
</body>
</html>